.containerDetail {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: row;
    width: 100%vh;
    height: 500px;
    background-color: white;
    
    .imgContainer {
        display: flex;
        flex-direction: column;
        
        .imgDetail {
            // margin: 5px;
            // padding: 5px;
            max-width: 450px;
            max-height: auto;
        }
        .titleDetail {
            font-size: 1.5rem;
            color: #621708;
            text-align: center;
            font-weight: 600;
        }

    }

    .cardContainerDetail {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        
        .descripcionDetail {
            padding: 2px;
            max-width: 420px;
            text-align: justify;
            font-size: 1rem;
        }
        .categoryDetail {
            font-size: 1.2rem;
            text-align: center;
            color: #621708;
        }
    }

    .contador {
        display: flex;
        flex-direction: column;
    }
    
    .precioDetail {
        font-size: 1.2rem;
        color: #621708;
        font-weight: 700;
        text-align: center;
    }
    .stockDetail {
        color: #621708;
        font-size: 1rem;
        text-align: center;
    }

}