.containerDetail {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-direction: row;
    width: 90%vh;
    height: 460px;
    background-color: white;

    .containerDetail:hover {
        transform: scale (1.2);
    }
    
    .imgContainer {
        display: flex;
        flex-direction: column;
        
        .imgDetail {
            max-width: 450px;
            max-height: auto;
        }
        .titleDetail {
            font-size: 1.5rem;
            color: #621708;
            text-align: center;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;;
        }

    }

    .cardContainerDetail {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        
        .descripcionDetail {
            padding: 2px;
            max-width: 420px;
            text-align: justify;
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            color: rgb(69, 68, 68);
        }
        .categoryDetail {
            font-size: 1.2rem;
            text-align: center;
            color: rgb(223, 94, 19);
            font-family: 'Montserrat', sans-serif;
        }
    }

    .contador {
        display: flex;
        flex-direction: column;
    }
    
    .precioDetail {
        font-size: 1.2rem;
        color: #621708;
        font-weight: 700;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .stockDetail {
        color: #621708;
        font-size: 1rem;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .imgCounter {
        max-width: 200px;
    }

}

hr {
    color:rgb(223, 94, 19);
}