

.itemContainer {
    margin: 5px;
    padding: 5px;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.5em;
    justify-content: space-between;
    align-items: center;
    // background-color: #621708;
    
}
