
.imgCard {
    width: 260px;
    max-height: auto;
    align-items: center;

}

.cardTitle {
    color: rgb(139, 36, 36);
    font-size: 1.0rem;
    text-align: center;
}

.cardButton {
        margin-top: .5rem;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    color: rgb(139, 36, 36);
}
