.cartQ {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 3%;
    background: #921708;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 167, 83);
    padding: 2px;
}