


.container {
    height: 500px;
    margin: 5px;
    padding: 5px;
    background-color: #BC3908;

    .texto {
        font-size: 03rem;
        font-weight: 700;
        color: rgb(217, 174, 121);
        text-align: center;
    }
}
