

.counter {
    display: flex;
    align-items: center;
    justify-content: center;

    .numero {
        margin: 10px;
        color: #921708;
        font-size: larger;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
}