

.header {
    margin: 5px;
    padding: 5px;
    max-height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #c9910e;
    border-radius: 10px;

    .imgHeader {
        padding: 05px;
    }

    // .title {
    //     text-decoration: none;
    //     align-items: flex-start;
    //     justify-content: center;
    //     font-size: 2rem;
    //     color: #90210b;
    //     padding: 2px;
    //     font-weight: 600;
    //     font-family: 'Fredoka One', cursive;
        
    // }
        
    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
    }
    
    .navbar-link {
        padding: 25px;
        display: flex;
        justify-content: space-around;
        color: #90210b;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }

    // .cart {
    //     margin: 10px;
    //     padding: 5px;
    //     max-width: 50px;
    //     max-height: 50px;
    //     color: #a80909;
    // }
}