


.footer {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
    // background-color: #621708;
    border-radius: 15px;
    
    .texto {
        padding: 3px;
        color: #90210b;
        text-align: center;
    }
}
