


.footer {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 70px;
    background-color: #cf960f;
    // border-radius: 15px;
    
    .texto {
        padding: 3px;
        color: #90210b;
        text-align: center;
    }

    .iconos {
        align-items: center;
        justify-content: center;
        color: #90210b;
        padding: 10px;
        gap: 15px;
        
    }
}
