.contenedor {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    
    .titulo {
        color: #921708;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        margin: 5px
    }

    .formulario {
        background-color: #921708;
        border-radius: 10px;
        padding: 10px;
        margin: 5px;
        width: 400px;
    }
}

