* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-image: url("/public/img/background_color_utensillos.jpg");
    background-size: cover;
    background-repeat: initial;

}

    /* background: hsla(33, 100%, 53%, 1);

background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 )
} */

/* background:-moz-radial-gradient(#F8EBA6, #FFD8C2); */

